/* Start Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --background-main: rgba(255, 255, 255, 0.10);
    --background-tow: #ee626b;
    --background-three: #0071f8;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Poppins', sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-three);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-tow);
}
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /*Small*/
  @media (min-width: 768px) {
    .container {
      width: 940px;
    }
  }
  /*Medium*/
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /*Large*/
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* Start Header  */
header {
    position: absolute;
    background-color: transparent;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 100;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    /* width: 100%; */
}
header .container .menu {
    display: flex;
    align-items: center;
}
header .container .menu ul {
    display: flex;
    gap: 35px;
}
header .container .menu .toogle {
    cursor: pointer;
    position: absolute;
    top: 14px;
    width: 30px;
    height: 18px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
}
header .container .menu .toogle::before {
    content: "";
    width: 0px;
    height: 0px;
    border-color: var(--background-three) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: 18px;
}
header .container .menu .toogle span {
    width: 30px;
    height: 2px;
    background-color: white;
    margin-bottom: 6px;
}
header .container .menu .toogle:hover + ul{
    display: block;
    position: absolute;
} 
header .container .menu ul li a.active {
    background-color: var(--background-main);
}
header .container .menu ul li a.log {
    background-color: var(--background-tow);
}
header .container .menu ul li a {
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight:  300;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
}
header .container .menu ul li a:not(.log):hover {
    background-color: var(--background-main);
}
@media (max-width: 991px) {
    header .container .menu ul {
        gap: 0;
    }
    header .container {
       max-width: 750px;
    }
}
    @media (max-width: 767px) {
    header .container .menu ul {
        display: none;
    } 
    header .container .menu .toogle, 
    header .container .menu .toogle span
    {
        display: block !important;
    }
    header .container .menu ul {
    right: 13px;
    width: 134px;
    top: 42px;
    background-color: var(--background-three);
    border-radius: 14px;
    }
    header .container .menu ul li {
        text-align: left;
        padding: 0px 8px;
    }
    header .container .menu ul li a,
    header .container .menu ul li a.log,
    header .container .menu ul li a.active
    {
        padding: 0;
        background-color: transparent;
    }
}
 /* End Header  */
/* Start Landing  */
.landing {
    background-image: url(../img/page-heading-bg.jpg);
    border-radius: 0px 0px 150px 150px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px 100px 0px;
    text-align: center;
}
.landing .container .box-one h3 {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
}
.landing .container .box-one span {
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
.landing .container .box-one span a {
    color: #fff;
}
@media (max-width: 991px) {
    .landing .container {
        width: 770px;
    }
}
@media (max-width: 767px) {
    .landing {
        padding: 150px 0px 100px 0px;
    }
    .landing .container {
        width: 400px;
    }
}
/* End Landing  */
/* Start Contact */
.contact {
    margin-top: 120px;
}
.contact .container {
    display: flex;
    justify-content: space-between;
}
.contact .container .text {
    width: 46%;
    align-self: center;
    padding: 40px;
    border-radius: 30px;
    background-color: #eee;
}
.contact .container .text h6 {
    margin: 0;
    text-transform: uppercase;
    color: var(--background-tow);
}
.contact .container .text h2 {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: 600;
}
.contact .container .text p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 25px;
    color: #4a4a4a;
}
.contact .container .text ul li:not(:last-child){
    margin-bottom: 30px;
}
.contact .container .text ul li {
    display: block;
    font-size: 16px;
    color: #aaaaaa;
    font-size: 300;
}
.contact .container .text ul li span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 5px;
}
.contact .container .input {
    width: 46%;
}
.contact .container .input form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 12px;
    margin-top: 50px;
}
.contact .container .input form input {
    border: none;
    width: 48%;
    padding: 16px 20px;
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    outline: none;
    transition: 0.3s;
}
.contact .container .input form input:focus:not(.but) {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.contact .container .input form textarea {
    width: 100%;
    resize: none;
    min-height: 120px;
    outline: none;
    border-radius: 25px;
    padding: 17px;
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}
.contact .container .input form input.but {
    background-color: var(--background-tow);
    width: fit-content;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}
.contact .container .input form input.but:hover {
    background-color: var(--background-three);
}
@media (max-width: 991px) {
    .contact .container {
        width: 770px;
        flex-direction: column;
    }
    .contact .container .input {
      width: 100%;
    }
    .contact .container .input form input {
      width: 100%;
    }
    .contact .container .text {
        width: 100%;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .contact .container {
        width: 580px;
    }
}
@media (max-width: 595px) {
    .contact .container {
        width: 400px;
    }
} 
/* End Contact */
/* Start Footer  */
footer {
    margin-top: 150px;
    background-color: #0071f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/footer-bg.jpg");
    min-height: 150px;
    border-radius: 150px 150px 0px 0px;
}
footer .container .box-one p {
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 2px;
    margin: 0;
}
footer .container .box-one a {
    color: #fff;
    transition: all .3s;
    position: relative;
    z-index: 3;
}
footer .container .box-one a:hover {
    opacity: 0.75;
}
@media (max-width: 991px) {
    footer .container {
        width: 730px;
    }
}
@media (max-width: 767px) {
    footer .container  {
        width: 400px;
    }
}
/* End Footer  */